<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... Dina andra head-element ... -->
    <title>Din sida</title>
</head>
<body>

    <!-- Temperature Display Section -->
    <div id="temperatureData">
        <!-- Temperatures will be displayed here -->
    </div>

    <!-- SignalR script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

    <!-- Din egen JavaScript-kod -->
    <script type="text/javascript">
        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/temperatureHub")
            .build();

        connection.on("ReceiveTemperature", function (temperature) {
            // Update the temperatureData div with the new temperature
            let tempElement = document.createElement("div");
            tempElement.innerHTML = `Temperature: ${temperature}`;
            document.getElementById("temperatureData").appendChild(tempElement);
        });

        connection.start()
            .catch(function (err) {
                return console.error(err.toString());
            });
    </script>

</body>
</html>
